<br><br>
<label>Edit Employee</label>
<br><br>
<table>
    <tr>
        <td><label>Employee Name</label></td>
        <td><input type="text" id="name" value="{{emp.name}}"></td>
    </tr>
    <tr>
        <td><label>Location</label></td>
        <td><input type="text" id="location" value="{{emp.loc}}"></td>
    </tr>
    <tr>
        <td><label>Email</label></td>
        <td><input type="text" id="email" value="{{emp.email}}"></td>
    </tr>
    <tr>
        <td><label>Mobile</label></td>
        <td><input type="text" id="mobile" value="{{emp.mob}}"></td>
    </tr>
    <tr>
        <td></td>
        <td><button id="update">Update</button></td>
    </tr>
</table>
